// Add your custom CSS here.
.footer {
  &__title, & a, & i, &__credits {
    color: #fff;
  }
  &__social {
    & .fa {
      &-facebook, &-instagram {
        font-size: var(--font-size-lg)
      }
    }
  }
  background: #2b2938;
}

@media  screen and (min-width: 1368px) {

}

//desktop normal size
@media  screen and (min-width: 992px) and (max-width: 1367px) {
  //slider full
  .banner-slider {
    max-width: 100%;
  }
}
// apenas tablet
@media screen and (min-width: 481px) and (max-width: 991px) {

}
// apenas mobile
@media screen and (max-width: 480px) {
#footer-pages {
  display: block
}
}
.header__nav a {
  padding-right: 1rem;
}
#product-description .container {
  max-width: 100%;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.collection-shelf .product-card__name, .collection-shelf .product-card__prices, .category-retail .product-card__name, .category-retail .product-card__prices, .page--search .product-card__name, .page--search .product-card__prices {
  text-align: center;
}
#page-pages\/sobre .extra-page .container {
  max-width: 100% !important;
  width: 100%
}
.variations__grid--modelo option:disabled {
  display: none;
}
.top-bar {
  & a, & i {
    color: #fff;
  }
}
.treatimage img {
  width: 144px;
  height: 144px;
}
.fa-shopping-bag::before {
    content: "\e802" !important;
}
.fa-user::before {
    content: "\e806" !important;
}
.fa-search::before {
    content: "\e80a" !important;
}
.fa-bars::before {
    content: "\e818" !important;
}
.fa-chevron-right::before {
    content: "\e80e" !important;
}
.fa-chevron-left::before {
    content: "\e80d" !important;
}
.fa-chevron-up::before {
    content: "\e80b" !important;
}
.fa-whatsapp::before {
    content: "\e844" !important;
}
.fa-instagram::before {
    content: "\e843" !important;
}
.fa-facebook::before {
    content: "\e83b" !important;
}
.fa-arrow-down::before {
    content: "\e80f" !important;
}
.fa-twitter::before {
    content: "\e841" !important;
}
.fa-envelope::before {
    content: "\e816" !important;
}
.fa-pinterest::before {
    content: "\e840" !important;
}
.fa-telegram::before {
    content: "\e845" !important;
}
.fa-home::before {
    content: "\e820" !important;
}
.fa-chevron-down::before {
    content: "\e80c" !important;
}
