// Add your custom CSS here.
.footer address {
color: #fff !important;
}
// modificacao storefront antes da nova versão
@media(max-width: 767px) {
  .gallery__thumbs {
    flex-wrap: wrap
  }
  .gallery__item {
    margin: 0 15px 15px 0;
  }
}

.product-card__prices{
  @media (max-width: 1024px){
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.product-card__pictures img{
  max-height: unset!important;
}

.product-card{
  padding-bottom: 38px;
}

.product-card__pictures{
  width: 100%!important;
  height: auto!important;

  img{
    width: 100%!important;
    height: auto!important;
    max-height: unset!important;
  } 
}



.footer {
  &__title, & a, & i, &__credits, & address {
    color: #fff;
  }
  &__social {
    & .fa {
      &-facebook, &-instagram {
        font-size: var(--font-size-lg)
      }
    }
  }
  background: #2b2938;
}

.product-card--small{
  .product-card__name{
    text-align: center;
  }
}

.product-card--small .product-card__name{
  --max-lines: 3;
  height: 58px;
}

//desktop normal size

// apenas tablet
@media screen and (min-width: 481px) and (max-width: 991px) {

}
// apenas mobile
@media screen and (max-width: 480px) {
#footer-pages {
  display: block
}
}
.header__nav a {
  padding-right: 1rem;
}
#product-description .container {
  max-width: 100%;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.collection-shelf .product-card__name, .collection-shelf .product-card__prices, .category-retail .product-card__name, .category-retail .product-card__prices, .page--search .product-card__name, .page--search .product-card__prices {
  text-align: center;
}
#page-pages\/sobre .extra-page .container {
  max-width: 100% !important;
  width: 100%
}
.variations__grid--modelo option:disabled {
  display: none;
}
.top-bar {
  & a, & i {
    color: #fff;
  }
}
.treatimage img {
  width: 144px;
  height: 144px;
}
.header {
  & i {
    color: #2b2938
  }
}
.cookieconsent {
  position: fixed;
  bottom: 0;
  padding: 1rem .5rem;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(0,0,0,.68);
  z-index: 999;
  width:100%;
  margin: 0 auto;

  .text {
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 700;
  }

  button {
    &:hover {
      color:#fff;
      background:#2B2938;
    }
    color: #fff;
    font-weight: 700;
    display: block;
    white-space: nowrap;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 12px;
    border: 1px solid #2B2938;
    background: #2B2938;
    border-radius: 0;
    outline: none;
    transition:all .2s
  }

  .row{
    display:flex;
    align-items:center;
  }

  @media (max-width: 991.98px) {
    .product-buy-button {
      width: 100%;
      margin-top:15px;
    }
    padding:10px;
  }
}

/*Footer
  Seri.e Design*/
.footer{
  &__evolutionBy{
    img{
      filter: brightness(0) invert(1);
      max-height: 50px;
    }
  }
}
//
.list-group .shipping-calculator__option{
  .shipping-line>strong{
    min-width: 110px;
  }
  > small {
    @media screen and (min-width: 1200px) {
      position: absolute;
      right: -11px;
      top: 3px;
    }

  }
}

.list-group-item-action[sedex-tim] {
  .shipping-calculator__option {
    .shipping-line {
      display: flex;
      align-items: baseline;
      @media screen and (max-width: 1200px) {
        flex-wrap: wrap;
      }
      > strong.mr-2 {
        max-width: 100%;
        @media screen and (min-width: 768px) {
          width: 70%;
        }
      }
    }
  }
  .green{
    font-weight: 500;
    color: green;
  }
  &.active{
    .green{
      color: white;
    }
  }
}


#checkout .list-group-item-action[sedex-tim] {
  .shipping-line {
    margin-right: 30px;
    .green{
      margin-left: 5px;
      display: inline-block;
    }
    @media screen and (min-width: 768px) {
      width: 70%;
      br:not(.imutable){
        display: none;
      }
    }
  }
}
#cart .list-group-item-action[sedex-tim] .shipping-line {
  @media screen and (min-width: 1200px) {
    margin-right: 40px;
  }
}
.search__box .search-engine__item .product-card__pictures {
  img {
    max-height: 125px;
  } 
}
.tokenTim_page{
  .shipping-calculator__free-from-value{
    display: none;
  }
}
