// Add your custom CSS here.
.footer {
  &__title, & a, & i, &__credits {
    color: #fff;
  }
  &__social {
    & .fa {
      &-facebook, &-instagram {
        font-size: var(--font-size-lg)
      }
    }
  }
  background: #2b2938;
}

@media  screen and (min-width: 1368px) {

}

//desktop normal size
@media  screen and (min-width: 992px) and (max-width: 1367px) {
  //slider full
  .banner-slider {
    max-width: 100%;
  }
}
// apenas tablet
@media screen and (min-width: 481px) and (max-width: 991px) {

}
// apenas mobile
@media screen and (max-width: 480px) {
#footer-pages {
  display: block
}
}
.header__nav a {
  padding-right: 1rem;
}
#product-description .container {
  max-width: 100%;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.collection-shelf .product-card__name, .collection-shelf .product-card__prices, .category-retail .product-card__name, .category-retail .product-card__prices, .page--search .product-card__name, .page--search .product-card__prices {
  text-align: center;
}
#page-pages\/sobre .extra-page .container {
  max-width: 100% !important;
  width: 100%
}
.variations__grid--modelo option:disabled {
  display: none;
}
.top-bar {
  & a, & i {
    color: #fff;
  }
}
#a-iphone .menu__list {
  display: flex;
  flex-direction: column;
  font-weight: bold
}
#a-iphone .menu__list a#c-5f1f3f4df023684cdbd4a1d5 {
  order: 1;
}
#a-iphone .menu__list a#c-5f1f3f4cf023684cdbd4a1d2 {
  order: 2;
}
#a-iphone .menu__list a#c-5f1f3f4af023684cdbd4a1ce {
  order: 3
}
#a-iphone .menu__list a#c-5f1f3f42f023684cdbd4a1be {
  order: 4
}
#a-iphone .menu__list a#c-5f1f3f43f023684cdbd4a1c0 {
  order: 5
}
#a-iphone .menu__list a#c-5f1f3f49f023684cdbd4a1cc {
  order: 6
}
#a-iphone .menu__list a#c-5f1f3f4bf023684cdbd4a1d0 {
  order: 7
}
#a-iphone .menu__list a#c-5f1f3f5cf023684cdbd4a1f6 {
  order: 8
}
#a-iphone .menu__list a#c-5f1f3f4ef023684cdbd4a1d7 {
  order: 9
}
#a-iphone .menu__list a#personalize {
  order: 10
}

